<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/main.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<title>Add answer</title>
</head>
<body>
<div class="cd-faq-update">
		<form class="cd-faq-updatequestion" action="?c=answer&a=modify&id={{question.id}}" method="post">
			<legend>{{question.question}}</legend>
			<div class="textarea">
		    <textarea  name="answer" rows="10"></textarea>
		    </div>
            </select>
            <input type="submit" name="submit">
		</form>
	</div>
</body>