<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> 
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<style type="text/css">
		td {
			border: 1px solid gray;
		}

		.bigbutton {
			width: 400px;
			height: 100px;
			background: white;
			display: inline-block;
			padding: 45px 30px;
			margin: 70px 30px;
			vertical-align: middle;
		}

		.wrapper {
			width: 960px;
			height: 300px;
			margin: 0 auto;
			background: gray;
			text-align: center;

		}

		header {
			width: 100%;
			height: 200px;
			text-align: center;
			color: white;
		}

		.hello {
			color: white;
			padding: 15px 30px;
		}
		        .footerdiv {
            margin: 15px auto;
            background: gray;
            width: 40%;
            padding: 10px;
        }

        .footerdiv a {
          color: white;
	</style>
	<title>FAQ admin panel</title>
</head>
<body>
<header>
	<h1>Admin of life the universe and everything</h1>
</header>
<div class="wrapper">
	<div class="hello">Приветствую, {{user.login}}!</div>
	<a href="?c=question&a=handleContent"><div class="bigbutton">Manage content</div></a>
	<a href="?c=question&a=handleUsers"><div class="bigbutton">Manage users</div></a>
	        <div class="footerdiv"><a href="?c=question&a=show">Вернуться назад</div>
    <div class="footerdiv"><a href="?c=auth&a=logout">Разлогиниться</a></div>
</div>

<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>